/* .mainBody {
    background-image: url("/assets/images/amanda-jones-P787-xixGio-unsplash.jpg");
    background-size:unset;
    opacity: 0.5;
} */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0px;
    max-height: 900px;
}

.heading {
    height: 105px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainHeading {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding: 20px 100px 20px 250px;
    color: white;
    background-color: black;
};

.btn {
    display: block;
}

.mainBod {
    max-height: 1200px;
    max-width: 1920px;
    display: flex;
    background-color: rgba(0, 138, 0);
}


.instructions {
    display: flex;
    display: block;
    align-items: center;
    justify-content: flex-start;
    height: 700px;
    background-color: rgba(0, 138, 0);
}

.instructionsCard {
    margin: 20px;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border: 5px solid darkred;
    background-color:rgba(0, 138, 0);
}

.btn {
    background-color: rgba(0, 138, 0);
    max-width: 1000px;
    min-width: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    margin: 50px;
    padding: 8px 20px 8px 20px;
    font-weight: 700;
    font-size: 30px;
    box-shadow: 5px 5px 5px rgba(0, 36, 0, 0.5);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    font-size: 35px;
    background-color: rgba(0, 138, 0);
    text-decoration: overline;
    text-decoration: underline;
}


p {
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-color: rgba(0, 138, 0);
}

@media screen and (max-width: 500px) {
    #mainHeading {
        font-size: 30px;
        padding: 20px 100px 20px 20px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) and (max-width: 1050px) {
    #mainHeading {
        font-size: 30px;
        padding: 20px 100px 20px 20px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
}